<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>AdminVisualizaciónPerfilEmpresa</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">


</head>
<body>

	<div class="container-fluid px-0">
		<iframe src="../fragment/banner.html" class="col-12 px-0" frameborder="0" id="iBanner"></iframe>
	</div>

	

	<div class="container-fluid col-12 bg-warning px-0 mx-0 menu">
		
		<ul class="d-flex flex-row col-8 offset-2 container-fluid bg-warning text-dark my-0" >
			<li data-target="#demo" data-slide-to="0" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Anuncios</div></a></li>
			
			<li data-target="#demo" data-slide-to="1" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Alumnos</div></a></li>

			<li data-target="#demo" data-slide-to="2" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Empresas</div></a></li>

			<li data-target="#demo" data-slide-to="2" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Logout</div></a></li>
		</ul>

	</div>

	<div class="col-12 bg-dark container-fluid cuerpoInicio" >
		
		<div class="bg-light col-8 offset-2 h-100 px-0 d-flex flex-column container-fluid  ">
			
			

			<div class="d-flex flex-row justify-content-between ml-3 my-3 tituloDatos" >
				<div class="col-4 h3">Sus Datos</div>
				<div class="col-1">

					<img src="../static/imgs/iconoEngranaje.jpg" class="icono iconoMostrado">
					<img src="../static/imgs/eliminar.jpg" class="icono my-1 iconoOculto" >
					<img src="../static/imgs/deshacer.png" class="icono my-1 iconoOculto" >

				</div>
			</div>

			
			<div class="col-11">
				<table class="table table-striped mt-3 col-10">
					<tr><td>CIF</td></tr>
					<tr><td>Nombre</td></tr>
					<tr><td>Sector</td></tr>
					<tr><td>Email</td></tr>
					<tr><td>Dirección</td></tr>
					<tr><td>Teléfono</td></tr>
				</table>
			</div>
			

		</div>

	</div>



	<div class="container-fluid px-0">
		<iframe src="../fragment/footer.html" class="col-12 px-0" frameborder="0" id="iFooter"></iframe>
	</div>

	<script type="text/javascript">
		
	</script>

</body>
</html>