<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>VisualizacionAdminEmpresas</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<link rel="stylesheet" type="text/css" href="../css/estilos.css">


</head>
<body>

	<div th:replace="~{fragments/banner::banner}" class="container-fluid px-0">
		
	</div>

	

	<div th:replace="~{fragments/menuAdmin::menuAdmin}" class="container-fluid col-12 bg-warning px-0 mx-0 menu">
		
		<ul class="d-flex flex-row col-8 offset-2 container-fluid bg-warning text-dark my-0" >
			<li data-target="#demo" data-slide-to="0" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Anuncios</div></a></li>
			
			<li data-target="#demo" data-slide-to="1" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Alumnos</div></a></li>

			<li data-target="#demo" data-slide-to="2" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Empresas</div></a></li>

			<li data-target="#demo" data-slide-to="2" class="col-3 d-flex align-items-center justify-content-center h3 my-0"><a href="" class="text-dark text-decoration-none"><div>Logout</div></a></li>
		</ul>

	</div>

	<div class="col-12 bg-dark container-fluid cuerpoInicio" >
		
		<div class="bg-light col-8 offset-2 h-100 px-0 d-flex flex-column   align-items-center cuerpoInicio">
		
		<a href=""><div><h2>Añadir Empresa</h2></div></a>
			
			
			<table class="mt-3 col-10">
				<tr th:each="empresa :${empresas}" class="filaElementoTabla bg-warning d-flex align-items-center justify-content-around elementoVisualizable my-3">
					<td  class="h2"><a th:text="${empresa.nombre}" th:href="@{/admin/visualizacionPerfilEmpresa/{id}(id=${empresa.id})}" class="text-dark text-decoration-none">Nombre</a></td>
					<td th:text="${empresa.sector}">Sector</td>
				</tr>
				
			</table>
			

			

		</div>

	</div>



	<div th:replace="~{fragments/footer::footer}" class="container-fluid px-0">
		
	</div>

	<script type="text/javascript">
		
	</script>

</body>
</html>